<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = x + 4x^3 + x^2</string>
			<key>Correcta</key>
			<string>f&apos;(x) = 12x^2 + 2x +1</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = 12x + x +1</string>
				<string>f&apos;(x) = 12x^3 + x^2</string>
				<string>f&apos;(x) = 12x^2 + x</string>
				<string>f&apos;(x) = 12x^2 + 2x +1</string>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = x + 1/x^4</string>
			<key>Correcta</key>
			<string>f&apos;(x) = 1 - 4/x^5</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = 1 - 4/x^5</string>
				<string>f&apos;(x) = 1 + 4/x^4</string>
				<string>f&apos;(x) =  -x/4</string>
				<string>f&apos;(x) = 4/x^5 - 1</string>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = x + x^3 -x^-3</string>
			<key>Correcta</key>
			<string>f&apos;(x) = 3x^2 +3x^-4 +1</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = 6x^3 +1</string>
				<string>f&apos;(x) = x^3 -1</string>
				<string>f&apos;(x) = 3x^2 +3x^-4 +1</string>
				<string>f&apos;(x) =  4x^-3 +3x^2</string>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = x^3 + x^3 +x^2/2</string>
			<key>Correcta</key>
			<string>f&apos;(x) = 6x^2 + x</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = 6x^2 + x</string>
				<string>f&apos;(x) = 1 + 2x^6</string>
				<string>f&apos;(x) =  2x^2</string>
				<string>f&apos;(x) = 3x^2 +x</string>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = 3x^-1</string>
			<key>Correcta</key>
			<string>f&apos;(x) = -3/x^2</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = -3x^2</string>
				<string>f&apos;(x) = -2x^-1</string>
				<string>f&apos;(x) =  1/x^2</string>
				<string>f&apos;(x) = -3/x^2</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = Sen(x^2)</string>
			<key>Correcta</key>
			<string>f&apos;(x) = 2xCos(x^2)</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = 2Cos(x)</string>
				<string>f&apos;(x) = 2xCos(x^2)</string>
				<string>f&apos;(x) = 2xSen(x^2)</string>
				<string>f&apos;(x) = xSen(2x)</string>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = Sen(1 / x^3)</string>
			<key>Correcta</key>
			<string>f&apos;(x) = -(3Cos(1/x^3)/x^4</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = -3x^4Sen(x^3)</string>
				<string>f&apos;(x) = Sen(-3/x^3)</string>
				<string>f&apos;(x) = -3Cos(1/x^3)</string>
				<string>f&apos;(x) = -(3Cos(1/x^3)/x^4</string>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = Cos(3x+2)</string>
			<key>Correcta</key>
			<string>f&apos;(x) = -3Sen(3x+2)</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = -Tan(3x+2)</string>
				<string>f&apos;(x) = -3Sen(3x+2)</string>
				<string>f&apos;(x) = (3x+2)Sen(3x+2)</string>
				<string>f&apos;(x) = xCos(3x + 2)</string>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = Tan(1/x)</string>
			<key>Correcta</key>
			<string>f&apos;(x) = (-Sec^2(1/x))/x^2</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = Sec^2(1/x)</string>
				<string>f&apos;(x) = -Sec^2(2/x^2)</string>
				<string>f&apos;(x) = (-Sec^2(1/x))/x^2</string>
				<string>f&apos;(x) = Sec^2(1/x) / x</string>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = Sen(Cos(x))</string>
			<key>Correcta</key>
			<string>f&apos;(x) = -Sen(x)Cos(Cos(x))</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = -Sen(x)Cos(Cos(x))</string>
				<string>f&apos;(x) = Sen(x)Sen(Cos(x))</string>
				<string>f&apos;(x) = Tan(x)</string>
				<string>f&apos;(x) = Cos(Cos(x))</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = Log(x^2)</string>
			<key>Correcta</key>
			<string>f&apos;(x) = 12x^2 + 2x +1</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = 12x + x +1</string>
				<string>f&apos;(x) = 12x^3 + x^2</string>
				<string>f&apos;(x) = 12x^2 + x</string>
				<string>f&apos;(x) = 12x^2 + 2x +1</string>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = Sen(1 / x^3)</string>
			<key>Correcta</key>
			<string>f&apos;(x) = 12x^2 + 2x +1</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = 12x + x +1</string>
				<string>f&apos;(x) = 12x^3 + x^2</string>
				<string>f&apos;(x) = 12x^2 + x</string>
				<string>f&apos;(x) = 12x^2 + 2x +1</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = e^(x^2+1x)</string>
			<key>Correcta</key>
			<string>f&apos;(x) = 12x^2 + 2x +1</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = 12x + x +1</string>
				<string>f&apos;(x) = 12x^3 + x^2</string>
				<string>f&apos;(x) = 12x^2 + x</string>
				<string>f&apos;(x) = 12x^2 + 2x +1</string>
			</array>
		</dict>
		<dict>
			<key>Pregunta</key>
			<string>f(x) = Sen(1 / x^3)</string>
			<key>Correcta</key>
			<string>f&apos;(x) = 12x^2 + 2x +1</string>
			<key>Respuestas</key>
			<array>
				<string>f&apos;(x) = 12x + x +1</string>
				<string>f&apos;(x) = 12x^3 + x^2</string>
				<string>f&apos;(x) = 12x^2 + x</string>
				<string>f&apos;(x) = 12x^2 + 2x +1</string>
			</array>
		</dict>
	</array>
</array>
</plist>
